---
import { Button, Container, H2, Text } from '@components/atoms';
---

<section class="py-16 md:py-24 lg:py-32">
  <Container>
    <H2>Co je to polštářová bitva?</H2>
    <div class="max-w-4xl">
      <Text>
        Polštářová Bitva je projekt, který pořádá nezisková organizace Studentská unie UTB, působící pod Univerzitou
        Tomáše Bati ve Zlíně.
      </Text>
      <Text>
        V rámci našeho projektu se budeme snažit překonat národní rekord v největší polštářové bitvě, ale také vytvořit
        nezapomenutelné zážitky a posílit pouta mezi všemi účastníky.
      </Text>
      <Text>Přidejte se k nám, vezměte polštáře a buďte součástí této jedinečné události!</Text>
      <div class="mt-6 flex flex-col items-start gap-x-4 gap-y-2.5 sm:mt-8 sm:flex-row">
        <Button type="link" text="Kontaktujte nás" variant="primary" size="md" href="/kontakt" icon="love" />
      </div>
    </div>
  </Container>
</section>
