---
import { Container, Text } from '@components/atoms';
import Bytkar2 from '@components/atoms/Characters/Bytkar2.astro';
---

<section class="py-16 md:py-24 lg:py-32">
  <Container>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-3">
      <div class="space-y-6 md:col-span-2">
        <hgroup class="space-y-4 md:space-y-6 lg:space-y-8">
          <h1 class="text-4xl font-bold text-gray-950 sm:text-5xl md:text-6xl lg:text-7xl">
            Staňte se naším partnerem
          </h1>
          <p class="text-lg font-semibold tracking-wide text-primary-600 md:text-xl lg:max-w-2xl lg:text-2xl">
            Vráťte se společně s námi do dětství a překonejme národní rekord!
          </p>
        </hgroup>
        <Text>
          Rádi přizpůsobíme koncept a formu spolupráce vašim potřebám prostřednictvím individuální nabídky. Jsme
          flexibilní a ochotní reagovat na vaše požadavky, abychom vytvořili vzájemně prospěšné partnerství. Připojte se
          k nám a překonejme tento rekord společně.
        </Text>
      </div>
      <div class="flex justify-center">
        <Bytkar2 class="h-48 md:h-72 xl:h-96" />
      </div>
    </div>
  </Container>
</section>
