---
import { Button } from '../../atoms/Button';
import Bytkar2 from '../../atoms/Characters/Bytkar2.astro';
import { Container } from '../../atoms/Container';
---

<section class="py-16 md:py-24 lg:py-32">
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div class="md:col-span-2 space-y-6">
        <hgroup class="space-y-4 md:space-y-6 lg:space-y-8">
          <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-gray-950">
            Staňte se naším partnerem
          </h1>
          <p class="text-primary-600 font-semibold tracking-wide text-lg md:text-xl lg:text-2xl lg:max-w-2xl">
            Vráťte se společně s námi do dětství a překonejme národní rekord!
          </p>
        </hgroup>
        <p class="sm:text-lg lg:text-xl sm:leading-[1.75] lg:leading-[1.75] text-gray-900 mb-4 lg:mb-6">
          Rádi přizpůsobíme koncept a formu spolupráce vašim potřebám prostřednictvím individuální nabídky. Jsme
          flexibilní a ochotní reagovat na vaše požadavky, abychom vytvořili vzájemně prospěšné partnerství. Připojte se
          k nám a překonejme tento rekord společně.
        </p>
      </div>
      <div class="flex justify-center">
        <Bytkar2 class="h-48 md:h-72 xl:h-96" />
      </div>
    </div>
  </Container>
</section>
