---
import { Image } from 'astro:assets';
import Feather from '../../../images/feather.webp';
import { Container } from '../../atoms/Container';
---

<section class="overflow-hidden bg-dark py-16 md:py-24 lg:py-32">
  <Container>
    <h2
      class="mb-4 text-3xl font-bold leading-snug text-primary-500 sm:text-4xl md:mb-6 md:text-5xl lg:mb-8 lg:text-6xl"
    >
      Pravidla bytvy
    </h2>
    <Image
      src={Feather}
      class="absolute -top-8 right-8 h-16 w-fit blur-[1px] [transform:rotateY(180deg)] md:right-64 md:top-8 md:h-32"
      alt=""
    />
    <Image
      src={Feather}
      class="absolute -bottom-12 right-4 h-24 w-fit blur-[1px] md:top-48 md:h-64 lg:right-0"
      alt=""
    />
    <ul
      class="relative z-10 max-w-xl list-disc space-y-3 pl-4 text-dark-100 sm:text-lg lg:max-w-none lg:space-y-4 lg:text-xl"
    >
      <li>Cílem bytvy je se pobavit, vytvořit rekord, jedná se o recesi.</li>
      <li>Každý se účastní na vlastní riziko.</li>
      <li>Účastník je povinen brát ohled na bezpečnost všech účastníků.</li>
      <li>Účastník je povinen respektovat pokyny pořadatelů.</li>
      <li>Účastník je povinen respektovat hvizd píšťalky jako ukončení bytvy.</li>
      <li>Bytva se odehrává ve vyhrazeném prostoru.</li>
      <li>Zákaz vstupu s alkoholickými nápoji, zbraněmi, pyrotechnikou, ostrými předměty a podobně.</li>
      <li>
        Účastník je povinen respektovat <a
          href="https://drive.google.com/file/d/1OepWYBOcjaV0QcJQXlwbnmGA5nJBoN4C/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer external"
          class="font-semibold text-dark-50 underline transition duration-300 hover:text-primary-500">návštěvní řád</a
        >.
      </li>
      <li>Doporučujeme nebrat na akci drahé šperky, ostré módní doplňky a brýle.</li>
    </ul>
  </Container>
</section>
