---
import Layout from '../components/Layout.astro';
import { Button } from '../components/atoms/Button';
import { Container } from '../components/atoms/Container';

const metaTags = {
  title: 'Největší polštářová bitva v ČR  - Stránka nenalezena',
  description:
    'Připravte se na nekonečnou porci zábavy, vzrušení a adrenalinu, protože se chystáme zaznamenat nový rekord v počtu polštářových bojovníků na jednom místě. Tato událost je otevřena všem, bez ohledu na věk, pohlaví nebo zkušenosti.',
  image: '/meta-image-404.jpg',
};
---

<Layout {...metaTags}>
  <section class="py-16 md:py-24 lg:py-32 min-h-[60vh]">
    <Container>
      <div class="flex justify-center items-center">
        <div class="text-center">
          <h1 class="font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-3 leading-snug text-gray-950">
            Stránka nenalezena
          </h1>
          <p class="sm:text-lg lg:text-xl sm:leading-[1.75] lg:leading-[1.75] font-medium text-gray-900 mb-4 lg:mb-6">
            Omlouváme se, ale vámi hledaná stránka nebyla nalezena.
          </p>
          <div class="flex justify-center">
            <Button href="/" type="link" text="Zpět na domovskou stránku" variant="primary" size="md" />
          </div>
        </div>
      </div>
    </Container>
  </section>
</Layout>
