---
import Layout from '../components/Layout.astro';

import PartnerImage from '../images/partners_1.svg';

const metaTags = {
  title: 'Největší polštářová bitva v ČR',
  description: 'Největší polštářová bitva v České Republice, pořádaná v roce 2024',
};
---

<Layout {...metaTags}>
  <section class="pb-28 pt-12 lg:pt-20">
    <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-6xl lg:px-12">
        <h1
          class="text-4xl font-extrabold leading-snug tracking-wide text-gray-900 sm:text-5xl sm:leading-snug md:text-6xl md:leading-snug lg:text-7xl lg:leading-snug"
        >
          Největší polštářová bitva v ČR
        </h1>
        <div class="mt-8 space-y-4 text-lg tracking-tight text-gray-600 sm:text-xl md:space-y-8 md:text-2xl">
          <p>
            Připravte se na nekonečnou porci zábavy, vzrušení a adrenalinu, protože se chystáme zaznamenat nový rekord v
            počtu polštářových bojovníků na jednom místě. Tato událost je otevřena všem, bez ohledu na věk, pohlaví nebo
            zkušenosti. Stačí mít srdce plné odvahy a chuť se zapojit do té nejepičtější bitvy na polštáře, kterou Česká
            republika kdy viděla.
          </p><p>
            Co můžete očekávat? Odpověd je jednoduchá: neuvěřitelnou zábavu, neskutečný smích a nezapomenutelné chvíle
            strávené s přáteli, rodinou nebo dokonce novými známými. A to vše za účelem dosáhnout vítězství a stát se
            legendou Polštářové Bitvy.
          </p>
          <p>
            Datum události se blíží, takže neváhejte a zarezervujte si své místo na seznamu bojovníků. Těšíme se na
            setkání s vámi na bojišti Největší Polštářové Bitvy v České republice!
          </p>
        </div>
        <dl class="mt-16 grid gap-12 text-center sm:grid-cols-2 md:gap-8 lg:grid-cols-4 lg:gap-4">
          <div class="space-y-2">
            <dt class="font-mono text-sm text-gray-500">Kdy?</dt><dd
              class="mt-0.5 text-2xl font-semibold tracking-tight text-gray-900"
            >
              20. 4. 2024
            </dd>
          </div>
          <div class="space-y-2">
            <dt class="font-mono text-sm text-gray-500">V jakém městě?</dt><dd
              class="mt-0.5 text-2xl font-semibold tracking-tight text-gray-900"
            >
              Zlín
            </dd>
          </div>
          <div class="space-y-2">
            <dt class="font-mono text-sm text-gray-500">A kde přesně?</dt><dd
              class="mt-0.5 text-2xl font-semibold tracking-tight text-gray-900"
            >
              Ještě upřesníme
            </dd>
          </div>
          <div class="space-y-2">
            <dt class="font-mono text-sm text-gray-500">Jaký je ten rekord?</dt><dd
              class="mt-0.5 text-2xl font-semibold tracking-tight text-gray-900"
            >
              780 lidí
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
  <section class="px-4 py-16 lg:px-10">
    <div class="mx-auto max-w-3xl lg:max-w-7xl">
      <div
        class="grid gap-y-12 rounded-xl bg-white px-6 py-12 shadow-sm md:px-10 md:py-16 lg:grid-cols-2 lg:px-16 lg:py-20"
      >
        <div class="">
          <h2 class="text-3xl font-extrabold leading-tight tracking-wider text-gray-900 sm:text-4xl">
            Chceš aby se lidé bili ve tvém jméně ?
          </h2>
          <p class="mt-8 text-lg leading-relaxed text-gray-700 sm:mt-10">
            Rozhodni o tom, čí peří bude prolito v nelítostném boji polštářovém. Přidej se k nám jako partner a rozhodni
            o osudu plebsu jež bude prolévat své peří pro tvé potěšení!
          </p>
          <p class="mt-8 text-lg leading-relaxed text-gray-700 sm:mt-10">
            Koncept a formu spolupráce můžeme upravit podle vašich požadavků do podoby individuální nabídky. Pojďte do
            toho s námi, ať je letošní ročník nebesky skvělý!
          </p>
          <div class="mt-8 flex flex-col gap-4 sm:mt-10 sm:flex-row">
            <a
              href="/kontakt"
              class="block w-fit rounded-lg border bg-gray-800 px-8 py-3 text-lg tracking-wider text-gray-50"
            >
              Kontaktujte nás
            </a>
            <a
              href="/partneri"
              class="block w-fit rounded-lg border border-gray-800 px-8 py-3 text-lg tracking-wider text-gray-800"
            >
              Více informací
            </a>
          </div>
        </div>
        <div class="lg:pl-12">
          <img class="h-full object-contain" src={PartnerImage.src} alt="" />
        </div>
      </div>
    </div>
  </section>
</Layout>
