---
import Layout from '../components/Layout.astro';

const metaTags = {
  title: 'Největší polštářová bitva v ČR',
  description:
    'Připravte se na nekonečnou porci zábavy, vzrušení a adrenalinu, protože se chystáme zaznamenat nový rekord v počtu polštářových bojovníků na jednom místě. Tato událost je otevřena všem, bez ohledu na věk, pohlaví nebo zkušenosti.',
  image: '/meta-image.jpg',
};

const infoItems = [
  { title: 'Kdy?', value: '20. 4. 2024' },
  { title: 'V jakém městě?', value: 'Zlín' },
  { title: 'A kde přesně?', value: 'Ještě upřesníme' },
  { title: 'Jaký je ten rekord?', value: '780 lidí' },
];
---

<Layout {...metaTags}>
  <section class="relative">
    <div class="absolute grid grid-cols-2 h-full inset-0">
      <div class="bg-primary-500"></div>
    </div>
    <div class="max-w-6xl mx-auto grid grid-cols-2 relative">
      <div class="py-36 pr-36">
        <h1 class="text-7xl font-semibold text-white leading-snug tracking-wide">Největší polštářová bitva v ČR</h1>
      </div>
      <div class="py-36 pl-36 space-y-8">
        <p class="text-xl leading-relaxed">
          Připravte se na nekonečnou porci zábavy, vzrušení a adrenalinu, protože se chystáme zaznamenat nový rekord v
          počtu polštářových bojovníků na jednom místě.
        </p>
        <p class="text-xl leading-relaxed">
          Tato událost je otevřena všem, bez ohledu na věk, pohlaví nebo zkušenosti. Stačí mít srdce plné odvahy a chuť
          se zapojit do té nejepičtější bitvy na polštáře, kterou Česká republika kdy viděla.
        </p>
      </div>
    </div>
  </section>
  <section class="bg-[#1E1E1E] py-28 text-gray-50">
    <dl class="max-w-7xl mx-auto grid gap-12 text-center sm:grid-cols-2 md:gap-8 lg:grid-cols-4 lg:gap-4">
      {
        infoItems.map((item) => (
          <div class="space-y-2">
            <dt class="text-xl">{item.title}</dt>
            <dd class="mt-0.5 text-3xl font-bold tracking-tight">{item.value}</dd>
          </div>
        ))
      }
    </dl>
  </section>
</Layout>
