---
import { fakerCS_CZ as faker } from "@faker-js/faker";
import Layout from "../components/Layout.astro";

const metaTags = {
  title: "Kontakt - Největší polštářová bitva v ČR ",
  description:
    "Největší polštářová bitva v České Republice, pořádaná v roce 2024",
  imageUrl: "TODO",
};

const people = new Array(9).fill({}).map(() => ({
  name: faker.person.fullName(),
  role: faker.name.jobTitle(),
  bio: faker.lorem.paragraph(),
  email: faker.internet.email(),
}));
---

<Layout {...metaTags}>
  <section class="py-28">
    <div class="container mx-auto px-4">
      <header class="text-center mb-12">
        <h1 class="text-7xl font-extrabold tracking-wider">Kontakt</h1>
        <p class="mt-4 text-xl text-gray-600 leading-relaxed max-w-2xl mx-auto">
          Rádi byste navázali spolupráci? Něco byste změnili? Máte dotaz? <br />
          <strong class="font-medium text-gray-700">
            Naši hvězdní manažeři jsou vám k dispozici, neváhejte se nám ozvat!
          </strong>
        </p>
      </header>
      <ul
        class="xl:max-w-6xl mx-auto grid max-w-sm sm:max-w-3xl sm:grid-cols-2 xl:grid-cols-3 gap-5"
      >
        {
          people.map((person) => (
            <li class="text-center flex flex-col items-center justify-center space-y-6 bg-white shadow-sm px-4 py-8 xl:py-10">
              <img
                class=" rounded-full w-36 h-36 object-cover shadow-lg"
                src="http://sutb.cz/assets/alena_skarupova.cf026ee2.jpg"
                alt=""
              />
              <div class="px-1">
                <h3 class="text-xl font-extrabold tracking-wider uppercase text-gray-800">
                  {person.name}
                </h3>
                <p class="text-orange-600 ">{person.role}</p>
              </div>
              <ul role="list" class="w-full">
                <li>
                  <a
                    href={person.email}
                    class="text-gray-700 justify-center flex space-x-2 font-semibold items-center hover:text-orange-600 transition duration-300 underline underline-offset-4 decoration-2"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      class="w-5 h-5 -ml-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                      />
                    </svg>

                    <span>{person.email}</span>
                  </a>
                </li>
              </ul>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
