---
import Layout from '../components/Layout.astro';

const metaTags = {
  title: 'Největší polštářová bitva v ČR',
  description: 'Největší polštářová bitva v České Republice, pořádaná v roce 2024',
};
---

<Layout {...metaTags}>
  <section class="max-w-6xl mx-auto px-4 pt-36 pb-16 space-y-10 min-h-screen">
    <div class="container mx-auto text-center">
      <h1 class="text-5xl font-bold text-gray-900">Připravujeme</h1>
    </div>
  </section>
</Layout>
