---
import Layout from "../components/Layout.astro";

const metaTags = {
  title: "Největší polštářová bitva v ČR",
  description:
    "Největší polštářová bitva v České Republice, pořádaná v roce 2024"
};
---

<Layout {...metaTags}>
  <section class="py-28 min-h-screen">
    <div class="container mx-auto px-4">
      <header class="text-center mb-12">
        <h1 class="text-7xl font-extrabold tracking-wider">Partneři</h1>
        <p class="mt-4 text-xl text-gray-600 leading-relaxed max-w-2xl mx-auto">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam commodo dui eget wisi. 
        </p>
      </header>
    </div>
  </section>
</Layout>
