---
import Layout from '../components/Layout.astro';

const metaTags = {
  title: 'Největší polštářová bitva v ČR',
  description: 'Největší polštářová bitva v České Republice, pořádaná v roce 2024',
};
---

<Layout {...metaTags}>
  <section class="pb-28 pt-12 lg:pt-20">
    <div class="mx-auto flex min-h-[50vh] max-w-7xl items-center justify-center px-5 pb-8 md:px-20 lg:px-10">
      <h1
        transition:name="heading-h1"
        class="text-center text-3xl font-extrabold uppercase leading-tight tracking-wider sm:text-4xl sm:leading-tight md:text-5xl md:leading-tight"
      >
        Tuto sekci připravujeme
      </h1>
    </div>
  </section>
</Layout>
