---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

import '@fontsource-variable/open-sans';
import '../styles/index.css';
import Footer from './organisms/Footer.astro';
import Head from './organisms/Head.astro';
import { Header } from './organisms/Header';
---

<html lang="cs" class="">
  <Head {...Astro.props} />
  <body class="bg-gray">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSPXPHPW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <Header client:load />
    <main>
      <slot />
    </main>
    <aside></aside>
    <Footer />
  </body>
</html>
