---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

import '@fontsource-variable/open-sans';
import '../styles/index.css';
import Footer from './organisms/Footer.astro';
import Head from './organisms/Head.astro';
import { Header } from './organisms/Header';
import Scripts from './organisms/Scripts.astro';
---

<html lang="cs" class="">
  <Head {...Astro.props} />
  <body class="bg-gray">
    <Header client:load />
    <main>
      <slot />
    </main>

    <Footer />
    <Scripts />
  </body>
</html>
