---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

import '@fontsource-variable/open-sans';
import Head from './organisms/Head.astro';
import { Header } from './organisms/Header';
---

<html lang="cs" class="">
  <Head {...Astro.props} />
  <body class="bg-slate-100">
    <Header client:load />
    <main>
      <slot />
    </main>
    <aside></aside>
    <!-- <Footer /> -->
  </body>
</html>
