---
interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

import '@fontsource-variable/open-sans';
import Head from './organisms/Head.astro';
---

<html lang="cs" class="">
  <Head {...Astro.props} />
  <body class="bg-pink-50">
    <!-- <Header client:load /> -->
    <main>
      <slot />
    </main>
    <aside></aside>
    <!-- <Footer /> -->
  </body>
</html>
