---
const infoItems = [
  { title: 'Kdy?', value: '20. 4. 2024' },
  { title: 'V jakém městě?', value: 'Zlín' },
  { title: 'A kde přesně?', value: 'Ještě upřesníme' },
  { title: 'Jaký je ten rekord?', value: '780 lidí' },
];
---

<section id="info" class="bg-dark px-4 py-12 shadow-xl shadow-dark/20 md:px-6 md:py-20 lg:px-8 lg:py-24">
  <h2 class="sr-only text-white">Informace o bitvě</h2>
  <div class="container mx-auto px-4">
    <dl class="mx-auto grid w-fit grid-cols-1 gap-x-24 gap-y-10 sm:grid-cols-2 lg:w-full lg:grid-cols-4">
      {
        infoItems.map((item) => (
          <div class="space-y-1 lg:space-y-3 lg:text-center">
            <dt class="text-lg font-medium text-gray-300 lg:text-xl">{item.title}</dt>
            <dd class="text-3xl font-bold tracking-wide text-pink-600 lg:text-4xl">{item.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
