---
interface Props {
  items: {
    title: string;
    value: string;
  }[];
}
---

<section id="info" class="bg-dark py-12 md:py-20 lg:py-24 px-4 md:px-6 lg:px-8 shadow-xl shadow-dark/20">
  <h2 class="text-white sr-only">Informace o bitvě</h2>
  <div class="container mx-auto px-4">
    <dl class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-10 gap-x-24 w-fit lg:w-full mx-auto">
      {
        Astro.props.items.map((item) => (
          <div class="space-y-1 lg:space-y-3 lg:text-center">
            <dt class="text-lg lg:text-xl font-medium text-gray-300">{item.title}</dt>
            <dd class="text-3xl lg:text-4xl font-bold tracking-wide text-pink-600">{item.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
