---
import { Icon } from '@components/atoms';
---

<footer class="bg-dark pb-8 pt-12">
  <div class="mx-auto mb-6 max-w-7xl space-y-2 px-4 md:px-6 lg:px-8">
    <nav
      class="flex flex-col items-center justify-center gap-2 text-lg font-medium tracking-wide text-dark-300 sm:flex-row"
      aria-label="Footer"
    >
      <a class="block px-4 py-4 transition duration-300 hover:text-primary-500" href="/">Domů</a>
      <a class="block px-4 py-4 transition duration-300 hover:text-primary-500" href="/partneri">Partneři</a>
      <a class="block px-4 py-4 transition duration-300 hover:text-primary-500" href="/ucastnici">Účastníci</a>
      <a class="block px-4 py-4 transition duration-300 hover:text-primary-500" href="/kontakt">Kontakt</a>
    </nav>
    <nav
      class="flex items-center justify-center gap-2 text-lg font-medium tracking-wide text-dark-300 sm:flex-row"
      aria-label="Social media"
    >
      <a
        class="block px-3 py-3 transition duration-300 hover:text-primary-500"
        href="https://www.facebook.com/profile.php?id=61556237693905"
        target="_blank"
        rel="noopener noreferrer external"
        title="Facebook - Surekordista"
      >
        <Icon name="facebook" className="h-8" /></a
      >
      <a
        class="block px-3 py-3 transition duration-300 hover:text-primary-500"
        href="https://www.instagram.com/su_rekordista/"
        target="_blank"
        rel="noopener noreferrer external"
        title="Instagram - Surekordista"
      >
        <Icon name="instagram" className="h-8" /></a
      >
    </nav>
  </div>
  <p class="px-4 text-center text-base font-light text-dark-400">
    &copy; 2024 - {new Date().getFullYear()} Studentská unie UTB, všechna práva vyhrazena.
  </p>
</footer>
