<footer class="bg-dark">
  <div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 py-16">
    <nav
      class="text-dark-200 space-x-2 flex justify-center font-medium tracking-wide items-center text-lg"
      aria-label="Footer"
    >
      <a
        class="px-4 py-2 block hover:text-primary-500 transition duration-300 underline decoration-transparent underline-offset-4 hover:decoration-primary-500"
        href="/">Domů</a
      >
      <a
        class="px-4 py-2 block hover:text-primary-500 transition duration-300 underline decoration-transparent underline-offset-4 hover:decoration-primary-500"
        href="/partneri">Partneři</a
      >
      <a
        class="px-4 py-2 block hover:text-primary-500 transition duration-300 underline decoration-transparent underline-offset-4 hover:decoration-primary-500"
        href="/ucastnici">Účastníci</a
      >
      <a
        class="px-4 py-2 block hover:text-primary-500 transition duration-300 underline decoration-transparent underline-offset-4 hover:decoration-primary-500"
        href="/kontakt">Kontakt</a
      >
    </nav>
  </div>
  <p class="text-center text-base text-dark-300 py-6 px-4">
    &copy; 2024 - {new Date().getFullYear()} Studentská unie UTB, všechna práva vyhrazena.
  </p>
</footer>
