#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body {
  background-image: url("./assets/noise.png");
}

.title {
  color: #f37222;
  font-size: 75px;
  font-weight: bold;
  line-height: 75px;
}

h1,
h3 {
  color: #f37222;
}
